/.idea/Distance-Modelling.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/geocode.ini
/.ipynb_checkpoints
/data/Distances.csv
/data/.ipynb_checkpoints
__pycache__/
