.idea/Distance-Modelling.iml
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
geocode.ini
.ipynb_checkpoints/
data/.ipynb_checkpoints
.idea/*
__pycache__/*
data/.ipynb_checkpoints/*
